<!DOCTYPE html>
<html>
<head>
  <title>Jogging App</title>

  <link rel="stylesheet" href="all.css">
</head>
<body class="js-jogging-app">

  <header class="js-header">
  </header>

    <div class="js-jogging-entry-form entryFormWrapper">
      <!-- The new Time entry form will be injected here -->
    </div>

    <div class="content-section">
      <div class="js-filters times-filter"></div>

      <div class="js-jogging-times-list time-list">
        <div class="time-item">
          <span class="time-title date">Date</span>
          <span class="time-title distance">Distance</span>
          <span class="time-title">Time</span>
          <span class="time-title">Average Speed</span>
        </div>
        <!-- The times list for the logged user will be included here -->
      </div>
    </div>

    <div class="js-report-section content-section"></div>

    <div class="js-notifications-center notifications-center"></div>

  <script type="text/javascript" src="/js/app_bundle.js"></script>
</body>
</html>