.notifications-center
  position absolute
  right 2px
  top 80px

  .notification
    padding 6px
    color white
    margin-bottom 5px
    width 250px

    &.error
      background-color rgba(#FF3B30, .5)

    &.success
      background-color rgba(#4CD964, .3)