.authentication-form, .signup-form
  background #FFF
  border-radius 6px
  box-shadow(0 2px 10px rgba(0, 0, 0, 0.45))
  margin 100px auto
  position relative
  width 470px
  z-index 682
  width 380px
  padding 20px 20px 40px 20px
  box-sizing(border-box)

  h1
    font-size 25px

  input
    height 50px
    font-size 20px
    display block
    margin-bottom 10px
    width 100%

  .main-action
    margin-top 40px

  .alternative-action
    text-decoration none
    color app-light-blue

  .errors
    .error
      padding 6px
      color white
      margin-bottom 5px
      width 100%
      box-sizing(border-box)
      background-color rgba(#FF3B30, .5)