<form class="js-entry-form content-section" action="api/times" method="post">
  <h2>Any new activity?</h2>
  <input type="text" value="" name="date" placeholder="When was it?"/>
  <input type="text" value="" name="distance" placeholder="How many Kms?"/>
  <input type="text" value="" name="time" placeholder="How many minutes?"/>
  <input class="button entryForm-submit" type="submit" value="Add Activity"/>
</form>