<form class="js-filters-form filters-form" action="api/times" method="get">
  <input type="text" value="" name="from" placeholder="from"/>
  <input type="text" value="" name="to" placeholder="to"/>
  <input class="button" type="submit" value="Filter"/>
  <input class="button  undo-filter js-undo-filter" type="button" value="Undo"/>
</form>