<i class="js-edit-time edit-time fi-page-edit"></i>

<input rv-disabled="viewState:readOnly" rv-class-read-only="viewState:readOnly" type="text"   rv-value='model:date | date' />
<input rv-disabled="viewState:readOnly" rv-class-read-only="viewState:readOnly" type="text"  rv-value='model:distance' />
<input rv-disabled="viewState:readOnly" rv-class-read-only="viewState:readOnly" type="text"  rv-value='model:time' />
<input type="text" disabled class="read-only js-average-speed" />

<a href="" class="js-save-time save-time" hidden >save</a>

<i class="js-delete-time remove-time fi-trash"></i>
